.content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrapper:before,
.content-wrapper:after {
  content: "";
  display: table;
}

.content-wrapper:after {
  clear: both;
}

.content-wrapper > *:first-child {
  margin-top: 0 !important;
}

.content-wrapper > *:last-child {
  margin-bottom: 0 !important;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.f-none {
  float: none;
}

.hidden {
  display: none !important;
}

.hyphenate {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.margin-none {
  margin: 0 !important;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

.margin-top_none {
  margin-top: 0 !important;
}

.margin-left_none {
  margin-left: 0 !important;
}

.margin-right_none {
  margin-right: 0 !important;
}

.padding-none {
  padding: 0 !important;
}

.padding-bottom_none {
  padding-bottom: 0 !important;
}

.padding-top_none {
  padding-top: 0 !important;
}

.padding-left_none {
  padding-left: 0 !important;
}

.padding-right_none {
  padding-right: 0 !important;
}

.invisible {
  visibility: hidden;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.caps {
  font-variant: small-caps !important;
}
